
@import url(https://fonts.googleapis.com/css?family=Raleway:400,200,300,800);
* {
  box-sizing: border-box;
}
.sidenav {
  margin-top:40px;
  margin-left:3px;
  height: 90%; /* Full-height: remove this if you want "auto" height */
  width: 160px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */	
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #111; /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 5px;
  border-radius:5px;
  box-shadow: 2px 3px 2px 1px #ff7a00;
}

/* The navigation menu links */
.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #fff;
  display: block;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  text-shadow:5px 5px 5px 5px #ff7a00;
  color: #ff7a00;
}
.main {
  margin-left: 160px; /* Same as the width of the sidebar */
  padding: 0px 10px;
}
.header{
  height:20vh;
  text-align:center;
  background-color:#ff7a00;
}
.h1{
    text-align:center;
	text-shadow:2px 2px 2px rgba(0,0,0,0.3);
}
.p{
color:black;
text-align:center;
}

.text{
  margin:0;
  font-family:"Raleway";
  font-size:100px;
  color:#fff;
  text-shadow:1px 1px #dedede,
    -2px 2px #dedede,
    -3px 3px #dedede,
    -4px 4px #dedede,
    -5px 5px #dedede,
    -6px 6px #dedede,
    -12px 12px 25px rgba(0,0,0,0.5);
}
figure.snip0016 {
 box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-style:solid;
  border-color:black;
  font-family: Arial, sans-serif;
  color: #fff;
  position: relative;
  overflow: hidden;
  height: 100%;
  width: 100%;
  background: #000000;
  text-align: left;
}
figure.snip0016 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
figure.snip0016 img {
  max-width: 100%;
  opacity: 1;
  width: 100%;
  -webkit-transition: opacity 0.35s;
  transition: opacity 0.35s;
}
figure.snip0016 figcaption {
  position: absolute;
  bottom: 10;
  left: 0;
  padding: 30px 3em;
  width: 100%;
  height: 100%;
}
figure.snip0016 figcaption::before {
  position: absolute;
  top: 30px;
  right: 30px;
  bottom: 70px;
  left: 100%;
  border-left: 4px solid rgba(255, 255, 255, 0.8);
  content: '';
  opacity: 0;
  background-color: rgba(255, 255, 255, 0.5);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transition-delay: 0.5s;
  transition-delay: 0.4s;
}
figure.snip0016 h2 {
  margin: 0 0 5px;
  opacity: 0;
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: opacity 0.35s,-webkit-transform 0.35s,-moz-transform 0.35s,-o-transform 0.35s,transform 0.35s;
  word-spacing: -0.15em;
  text-transform: uppercase;
  -webkit-transform: translate3d(30%, 0%, 0);
  transform: translate3d(30%, 0%, 0);
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.2s;
}
figure.snip0016 h2 span {
  font-weight: 800;
}

figure.snip0016:hover img {
  opacity: 0.3;
}
figure.snip0016:hover figcaption h2 {
  opacity: 1;
  -webkit-transform: translate3d(0%, 0%, 0);
  transform: translate3d(0%, 0%, 0);
  -webkit-transition-delay: 0.4s;
  transition-delay: 0.3s;
}
figure.snip0016:hover figcaption::before {
  background: rgba(255, 255, 255, 0);
  left: 30px;
  opacity: 1;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
}
.span {
  font-size: 3.8vh;
  display: block;
  text-align: center;
  height: 10vh;
  line-height: 2.6;
}
